. {
    color: black;
}


html {
    background-color;: 
}



.tweet {
    color: rgb(107, 185, 248);
}
footer {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 50px;
    background-color: rgb(107, 185, 248);
}